sw.add("math");

fn saluer(nom) {
    print("Salut " + nom + " ! Bienvenue sur SwiftVelox.");
}

let nom = input("Comment t'appelles-tu ? ");
saluer(nom);

let start = clock();
print("Calcul rapide...");
let fin = clock();
print("Fini en " + (fin - start) + " secondes.");
